
.jumbotron {
    height: 85vh;
    margin: 0;
    color: #f5f5f5;
    /* text-align: center; */
    font-weight: 500;
    text-shadow: 2px 2px #333;
   
}

.display-4 {
    color: #f5f5f5;
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px #333;

 
}

.blurb {
    color: #f5f5f5;
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px #333;

}

.btn-outline-secondary {
    color:#f5f5f5;
    background-color:  white;
}

body {
    padding:0 ;
    margin: 0;
  }
  .full-bg-size { 
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .bg-dim {
    width: 100%;
    height: 100%;
    position: fixed;
  }

 @media screen and (max-width: 768px) {
   
  .jumbotron h1 {
     padding-left: 0;
   }

 }