.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size:  calc(10px + 2vmin);
    font-weight: 800;
    padding-left:2rem;
    color: white;
    background-color:  #1e2783c2;
   

}

nav li {
    padding-left: 3rem;
}

.navbar {
    padding: .5rem;
    background-color: #1e2783c2;
    color: white;
    font-weight:bold;
    

}
.navbar-nav {
    padding: .5rem;
    background-color: #1e2783c2;
    color: white;

}