.display-5 {
    color: white;
}
.images img {
    max-height: auto;
    max-width:  auto;
    padding: 1em;
}

.big-title {
    background-color: white;
    color:black;
}

.card-body{
    background-color: white;
    color:rgb(30, 8, 131);
}

.title {
    padding: 1em;
}
.overlay {
    display: inline-block;
    position: relative;
    padding: .75em;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  }
  .text {
    background: white;
    color: rgb(35, 56, 148);
    font-size: 2em;
    transition: opacity .5s;
    opacity: 0;
    position: absolute;
    top: .5em; bottom: .5em; left: .5em; right: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay:hover .text {
    opacity: .85;
  }

  a.btn {
      border-radius: 1rem;
      margin: 1rem;
  }

  .btn-icon {
      text-shadow: none;
  }

  img {
    max-width: 100%;
   height: auto;
  }

.images.container {
    margin: 2em; 
}

a:hover {
    color: #f5f5f5;
    text-decoration: none;
    opacity: .7;
}

.card-button {
    text-align: center;
}

.fab, .fas {
    background-color: transparent;
}

@media screen and (max-width: 993px) {

    a.btn {
        margin-bottom: 1rem; 
    }
    .card-title {
        text-align: center;
    }
}